<%= form_with(model: @invite, local: true) do |form| %>
  <% if @invite.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading"><%= pluralize(@invite.errors.count, "error") %> prevented this invite from being saved:</h4>
      <ul class="mb-0">
        <% @invite.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :date_completion, "Date of Completion", style: "display: block" %>
    <%= form.date_field :date_completion, class: 'form-control' %>
  </div>

  <div>
    <%= form.submit "Save", class: 'btn btn-primary' %>
  </div>
<% end %>
