<p style="color: green"><%= notice %></p>

<div style="width: 40%;" class="mx-auto">

  <h1><%= 'Show Companies Details' %></h1>

  <div>
    <%= link_to "Back", companies_path, class: 'btn btn-secondary' %>
  </div>

  </br>

  <%= render @company %>

  </br>

  <div class="row">
    <div class="col-auto">
      <%= link_to "Edit", edit_company_path(@company), class: 'btn btn-warning' %> 
    </div>
    <div class="col-auto">
      <%= button_to "Delete", @company, method: :delete, data: { confirm: 'Are you sure you want to delete this company?' }, class: 'btn btn-danger' %>
    </div>
  </div>

  </br>
  <% if @company.present? && @company.invites.any? %>
  <h2>Related Invites</h2>
  <div class="list-group">
    <% @company.invites.each do |invite| %>
      <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        <%= invite.name %>
        <span class="badge bg-primary rounded-pill">
          <%= invite.created_at.strftime("%d/%m/%Y") %>
        </span>
      </a>
    <% end %>
  </div>
  <%end%>


</div>
