<div style="width: 80%;" class="mx-auto">
  <% content_for :title, "Invites of Administrator ##{@administrator.id}" %>
  <h1>Invites for <%= @administrator.email %></h1>

  <%= link_to "Back", administrators_path, class: "btn btn-secondary mb-3" %>

  <button id="toggle-filter" class="btn btn-info mb-3">Show Filters</button>

  <div id="filter-form" style="display: none;">
    <%= form_with(url: administrator_invites_path(@administrator), method: :get, local: true) do |form| %>
      <div class="mb-3">
        <%= form.label :invite_name, "Invite Name" %>
        <%= form.text_field :invite_name, value: params[:invite_name], class: 'form-control' %>
      </div>

      <div class="mb-3">
        <%= form.label :company_name, "Company Name" %>
        <%= form.text_field :company_name, value: params[:company_name], class: 'form-control' %>
      </div>

      <div class="mb-3">
        <%= form.label :start_date, "Start Date Completion" %>
        <%= form.date_field :start_date, value: params[:start_date], class: 'form-control' %>
      </div>

      <div class="mb-3">
        <%= form.label :end_date, "End Date Completion" %>
        <%= form.date_field :end_date, value: params[:end_date], class: 'form-control' %>
      </div>

      <div>
        <%= form.submit "Filter", class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>

  <!-- Tabela -->
  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th>Invite ID</th>
        <th>Invite Name</th>
        <th>Company Name</th>
        <th>Date Completion</th>
        <th>Date Associated</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @administrator_invites.each do |admin_invite| %>
        <tr>
          <td><%= admin_invite.invite.id %></td>
          <td><%= admin_invite.invite.name %></td>
          <td><%= admin_invite.company.name %></td>
          <td><%= admin_invite.invite.date_completion&.strftime("%d/%m/%Y") %></td>
          <td><%= admin_invite.created_at&.strftime("%d/%m/%Y") %></td>
          <td>
            <%= button_to "Delete", administrator_company_invite_path(admin_invite), 
                method: :delete, 
                data: { confirm: "Are you sure you want to delete this invite?" }, 
                class: "btn btn-danger btn-sm" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script>
  document.getElementById("toggle-filter").addEventListener("click", function() {
    var filterForm = document.getElementById("filter-form");
    if (filterForm.style.display === "none") {
      filterForm.style.display = "block";
      this.textContent = "Hide Filters";
    } else {
      filterForm.style.display = "none";
      this.textContent = "Show Filters";
    }
  });
</script>
