<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css", integrity: "sha384-9aIt2nRpC7a3vPpto9b8dZX2t7NSB95E4aa+dqzQFs7Ujpa3JkCjm3a8RbHDgnkx", crossorigin: "anonymous" %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag 'application'%>
    <script>
      Turbo.session.drive = false;
    </script>

  </head>

  <body>
    <% if administrator_signed_in? %>
      <div style="width: 80%;" class=" d-flex mx-auto justify-content-end mt-2">

        <%= button_to "Logout", destroy_administrator_session_path, method: :delete, 
              data: { confirm: 'Are you sure you want to log out?' }, 
              class: 'btn btn-danger btn-md' %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
